.main-container {


    .main-container-header {
        font-size: rem(20px);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;

        button {
            padding: 0;
            align-self: end;
            border: none;
            font-size: rem(20px);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $clr2a;
            background-color: transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $clr3;
            }
        }

        a {
            transition: all 0.3s ease-in-out;
            &:hover {
                
                color: $clr2;
            }
        }
    }

    .toy-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,400px));
        grid-auto-rows: 500px;
        gap: $layoutPadding;
        justify-content: center;
        justify-items: center;
        align-items: center;

    }

    .pager {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px 0;

        button, span {
            padding: 0;
            margin: 0;
            border: none;
            font-size: rem(20px);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $clr2a;
            background-color: transparent;
            transition: all 0.3s ease-in-out;

        button {
            font-weight: 900;
            font-size: rem(30px);
            align-self: end;
        }    

            &:hover {
                color: $clr3;
            }
        }
    }


}

